@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Please choose 'Customers' menu or press the below button to see the records</p>
    <a class="btn btn-primary" asp-controller="Customers" asp-action="Index">Customers </a>
</div>
